.container{
  width: 600px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -265px;
  margin-left: -300px;
  background-image: url('./images/cover.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  background-color: #003153;
}
#header{
  padding: 20px;
  background-color: black;
  width: 560px;
  height: 40px;
  display: none;
  flex-direction: row;
}
.link{
  height: 100%;
  width: auto;
  font-size: 20px;
  margin-right: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.screen{
  display: none;
  width: 270px;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -185px;
  z-index: 2;
  background-color: white;
  padding: 15px;
  overflow: scroll;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#start-button{
  position: absolute;
  width: 100px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: 180px;
  margin-left: -50px;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#tune-button{
  display: none;
}
#message{
  display: none;
  overflow: scroll;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 3;
  background-color: rgba(0,0,0,.85);
  color: white;
  text-align: center;
  padding: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  border-radius: 5px;
}
b{
  color: #ffceac;
}
#noah{
  max-width: 240px;
  height: auto;
}
h2{
  margin: auto;
}
.line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#credits{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: 30px;
  width: 300px;
  height: 120px;
  padding: 20px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  z-index: 3;
  background-color: rgba(0,0,0,.85);
  color: white;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#notes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  padding: 0px;
}
.note{
  color: black;
  border-radius: 10px;
  margin: 20px;
  width: 70px;
  height: 60px;
  text-align: center;
}
#note1{
  background-color: rgba(255,255,255,1);
}
#note2{
  background-color: rgba(255,255,255,.7);
}
#note3{
  background-color: rgba(255,255,255,.3);
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#song{
  width: 200px;
}
#meter{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#white-line{
  height: 5px;
  width: 80%;
  background-color: white;
  color: white;
  margin: 0px 10px;
}
.label{
  margin: 0px;
}
#yellow{
  height: 30px;
  width: 8px;
  position: absolute;
  left: 50%;
  top: 80%;
  margin-left: -4px;
  margin-top: -13px;
  background-color: yellow;
}





